.bordered {
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
}
.clear {
  clear: both;
}
body {
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  color: #232323;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: 220px;
  margin-right: 20px;
  -webkit-transition: margin 500ms ease;
  -moz-transition: margin 500ms ease;
  -ms-transition: margin 500ms ease;
  -o-transition: margin 500ms ease;
  transition: margin 500ms ease;
}
header,
footer,
nav,
section {
  display: block;
}
.navbar-layoutit {
  min-height: 40px;
  padding: 5px;
}
.navbar-layoutit #menu-layoutit {
  float: left;
}
.navbar-layoutit .navbar-brand {
  width: 200px;
  padding: 0;
  margin: 2px 5px;
  font-family: "Segoe UI Light", Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  color: #A0A0A0;
  text-shadow: rgba(255, 255, 255, 0.0980392) -1px -1px 1px, rgba(0, 0, 0, 0.498039) 1px 1px 1px;
}
.navbar-layoutit .navbar-brand:hover {
  color: #7a7a7a;
}
.navbar-layoutit .navbar-brand img {
  float: left;
  margin: 2px 10px 0 0;
}
.navbar-layoutit .navbar-brand .label {
  position: relative;
  left: 10px;
  top: -3px;
  font-weight: normal;
  font-size: 9px;
  background: #666;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.navbar-layoutit .btn-donate {
  padding: 0 0 0 10px;
}
.navbar-layoutit .btn-donate form {
  margin: 0;
}
.edit .drag {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.edit .drag i {
  color: #000;
  text-shadow: 0 1px 0 #ddd;
}
.edit .demo {
  margin-left: 0px;
  margin-top: 10px;
  padding: 30px 15px 15px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;
  word-wrap: break-word;
}
.edit .demo:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Container";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.edit .demo .lyrow .drag {
  top: 5px;
  right: 80px;
  z-index: 10;
}
.edit .demo .column .box .drag {
  top: 5px;
}
.edit .demo .column .box .configuration {
  position: absolute;
  top: 3px;
  right: 140px;
  white-space: nowrap;
}
.edit .demo .column .box .configuration:hover {
  z-index: 1001;
}
.edit .demo .column .navbar-fixed-top {
  top: 33px;
  left: 200px;
}
.edit .demo .column .navbar-fixed-bottom {
  left: 200px;
}
.edit .demo .remove {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}
.edit .demo .row:before {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Row";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  line-height: 2;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.edit .column:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Column";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.box,
.lyrow {
  position: relative;
}
.column {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 39px 19px 24px;
  position: relative;
}
.container {
  width: auto;
  margin: 0;
}
.sidebar-nav {
  position: fixed;
  width: 200px;
  left: 0px;
  bottom: 0;
  top: 40px;
  background: #e6e7e8;
  padding: 8px;
  z-index: 10;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  /*.box-shadow(2px 0 8px rgba(0, 0, 0, 0.2));*/
}
.sidebar-nav .nav-header {
  cursor: pointer;
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  margin: -6px -6px 0 -6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
}
.sidebar-nav .nav-header span.label {
  font-size: 10px;
  position: relative;
  top: -1px;
}
.sidebar-nav .nav-header i.glyphicon-question-sign {
  color: #000;
  text-shadow: 0 1px 0 #ddd;
}
.sidebar-nav .nav-header .popover {
  color: #999;
  text-shadow: none;
}
.sidebar-nav .accordion-group {
  margin-bottom: 15px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.sidebar-nav li {
  line-height: 28px;
  margin-bottom: 3px;
}
.sidebar-nav li .lyrow {
  margin-bottom: 5px;
}
.sidebar-nav .box {
  line-height: 26px;
  width: 160px;
  height: 26px;
}
.sidebar-nav .preview {
  display: block;
  color: #666;
  font-size: 12px;
  line-height: 26px;
}
.sidebar-nav .preview input {
  width: 105px;
  padding: 0 10px;
  background: #bbb;
  font-size: 10px;
  color: #fff;
  line-height: 20px;
  height: 20px;
  position: relative;
  top: -1px;
}
.sidebar-nav .view {
  display: none;
}
.sidebar-nav .boxes {
  display: none;
  margin-top: 10px;
}
.popover-info {
  position: relative;
}
.popover-info .popover {
  display: none;
  top: -12.5px;
  left: 15px;
}
.popover-info:hover .popover {
  display: block;
  opacity: 1;
  width: 400px;
}
.popover-info:hover .popover .arrow {
  top: 23px;
}
.sidebar-nav .remove,
.sidebar-nav .configuration {
  display: none;
}
.demo .preview {
  display: none;
}
.demo .box .view {
  display: block;
  padding-top: 30px;
}
.demo .column .navbar-fixed-top {
  top: 33px;
}
.demo .configuration {
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.demo .row {
  background-color: #F5F5F5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  position: relative;
  padding: 25px 14px 0;
}
.demo .drag,
.demo .remove {
  filter: alpha(opacity=20);
  opacity: 0.2;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.demo .lyrow:hover  > .drag,
.demo .lyrow:hover  > .configuration,
.demo .lyrow:hover  > .remove,
.demo .box:hover .drag,
.demo .box:hover .configuration,
.demo .box:hover .remove {
  filter: alpha(opacity=100);
  opacity: 1;
}
/* preview */
body.devpreview {
  margin-left: 0px;
}
.devpreview .sidebar-nav {
  left: -200px;
  -webkit-transition: all 0ms ease;
  -moz-transition: all 0ms ease;
  -ms-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  transition: all 0ms ease;
}
.devpreview .demo .column {
  padding-top: 19px;
  padding-bottom: 19px;
}
.devpreview .drag,
.devpreview .configuration,
.devpreview .remove {
  display: none !Important;
}
.devpreview .demo .box,
.devpreview .demo .row {
  padding-top: 0;
  background: none;
}
.ui-draggable-dragging .view {
  display: block;
}
.ui-sortable-placeholder {
  outline: 1px dashed #ddd;
  visibility: visible !Important;
  border-radius: 4px;
}
#feedbackModal textarea,
#downloadModal textarea {
  width: 100%;
  height: 280px;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#feedbackModal input {
  width: 515px;
}
#feedbackModal input.modal-error-field,
#feedbackModal textarea.modal-error-field {
  border: 1px solid red;
}
.sourcepreview .column,
.sourcepreview .row,
.sourcepreview .demo .box {
  margin: 0px 0;
  padding: 0px;
  background: none;
  border: none;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
#download-layout {
  display: none;
}
a.language-selected {
  font-style: italic;
  font-weight: bold;
}
.modal-body {
  padding-bottom: 0;
}
.modal-footer {
  margin-top: 0;
}
/*Customer COnfig Start*/
.sourcepreview .demo .box .view {
  padding-top: 0;
}
.sourcepreview .demo .column {
  padding-top: 0;
  padding-bottom: 0;
}
.devpreview .demo .column,
.sourcepreview .demo .column {
  padding-left: 5px;
  padding-right: 5px;
}
/*Customer Config End*/
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    position: fixed;
  }
}

.navbar-brand-logo {
   width: 26px !important;
}